body {
    color: #5e5e5e;
    font: 16px 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    width: 1024px;
    margin: 0px;
}

.wrapper {
    display: block;
    width: 100%;
    overflow: scroll;
    height: 100%;
    padding: 2px 30px 30px 30px;
    box-sizing: border-box;
    min-height: 500px;
}

.j-card, .hidden, #test_transform_div {
    display: none;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 4px;
}

ul {
    margin-left:0px; padding-left:20px; list-style-type:square;
}

input,
textarea {
   font: 14px 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
   height: 400px;
   width: 85%;
}

input,
text {
    height: 40px;
    width: 85%;
}

.j-code-block {
    font: 12px 'Courier';
}

.j-textarea {
    width: 50%;
    height: 512px;
}

.j-success {
    font-weight: bold;
    color:green;
}

.j-fail {
    font-weight: bold;
    color:red;
}

button.j-btn {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #3169aa;
    border-color: rgba(46, 106, 182, 0.8);
    background: #408bd0;
    background: linear-gradient(to bottom, #62acde 0%, #4a8cca 100%);
    font-weight: 600;
}

button {
    color: #3778C7;
    padding: 7px 16px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
    background: #fff linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-shadow: 0 1px 0 white;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    background-clip: padding-box;
    margin: 0 10px 0 0;
    text-decoration: none;
    outline: none;
}

#image_upload_preview {
    display: none;
}

.builder{
    padding-top:40px;
}

#description {
    height: 100px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px 0 40px 0;
    justify-content: center;
}

.left {
    min-width: 340px;
    max-width: 500px;
}

.right {
    margin-top: 6px;
    padding-left: 30px;
    width: 100%;
}

pre {
    margin-top: 0px;
    margin-bottom: 2px;
}

.main_nav img{
    height: 40px;
    width: auto;
}

.main_nav ul { 
    list-style:none;
    text-align: center !important;
    padding-left: 0px;
    margin: 0px;
    background-color: #999;
    height: 41px;
}

.main_nav li {
    float:left;
    position:relative;
    display:block;
    min-width: 80px;
    padding: 9px 15px;
}

.main_nav li ul {
    display:none;
    position:absolute;
}

.main_nav li:hover ul{
    display:block;
    height:auto;
    min-width:120px;
    margin-top:12px;
    padding: 9px;
}

.main_nav li ul li{
    clear: both;
    border-style:none;
}

.main_nav a{
    color: white;
    text-decoration: none;
}

.main_nav ul > li:first-child{
    padding: 0px;
    margin: 0;
}